/*ACCOUNT DETAILS MODAL */
#modal-account{
    border-radius: 20px;
    background-image: url('/img/profile-background.png');
}
#modal-edit-profile{
    border-radius: 20px;
}
#profile-heading{
    border-radius: 20px;
    font-size: x-large;
}
#edit-profile-heading{
    border-radius: 20px;
    font-size: x-large;
    text-align: center;
}
#btn-edit-profile{
    border-radius: 20px;
}
#btn-update-profile{
    border-radius: 20px;
}
#btn-cancel-update-profile{
    border-radius: 20px;
}
#btn-cancel-view-profile{
    border-radius: 20px;
}
#modal-edit-profile{
    width: auto;
    height: auto;
}
/*  TO STICK FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/* LOGIN MODAL  */
#btn-login{
    border-radius: 20px;
}

#modal-login{
    background-image: url('/img/profile-background.png');
    border-radius: 20px;
}
/* SIGN UP MODAL  */
#btn-signup{
    border-radius: 20px;
}
#modal-signup{
    background-image: url('/img/profile-background.png');
    border-radius: 20px;
}
