<!--FOOTER-->
<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">

                <ul>
                    <li><a class="grey-text text-lighten-3 hoverable" href="index.html">Home</a></li>
                    <li><a class="grey-text text-lighten-3 hoverable" href="#!">About us</a></li>
                    <li><a class="grey-text text-lighten-3 hoverable" href="#!">Contact us</a></li>
                    <li><a class="grey-text text-lighten-3 hoverable" href="#!">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black darken-2">
        <div class="container center-align">
            © 2021 by SkyEvents | Designed by Tushar Ghadi
        </div>
    </div>
</footer>